

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-490504249596183699.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-490504249596183699.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-490504249596183699.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-490504249596183699.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-490504249596183699.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-490504249596183699.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-490504249596183699.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-490504249596183699.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-490504249596183699.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-490504249596183699.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-490504249596183699.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-490504249596183699.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-490504249596183699.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-490504249596183699.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-490504249596183699.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-490504249596183699.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-490504249596183699.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-490504249596183699.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-490504249596183699.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-490504249596183699.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-490504249596183699.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-490504249596183699.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-490504249596183699.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-490504249596183699.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-490504249596183699.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-490504249596183699.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-490504249596183699.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-490504249596183699.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-490504249596183699.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-490504249596183699.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-490504249596183699.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-490504249596183699.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-490504249596183699.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-490504249596183699.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-490504249596183699.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-490504249596183699.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-490504249596183699.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-490504249596183699.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-490504249596183699.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-490504249596183699.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-490504249596183699.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-490504249596183699.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-490504249596183699.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-490504249596183699.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-490504249596183699.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-490504249596183699.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-490504249596183699.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-490504249596183699.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-490504249596183699 .gp-relative{position:relative}.gps-490504249596183699 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-490504249596183699 .gp-mb-0{margin-bottom:0}.gps-490504249596183699 .\!gp-inline{display:inline!important}.gps-490504249596183699 .gp-flex{display:flex}.gps-490504249596183699 .gp-grid{display:grid}.gps-490504249596183699 .\!gp-hidden{display:none!important}.gps-490504249596183699 .gp-hidden{display:none}.gps-490504249596183699 .gp-h-full{height:100%}.gps-490504249596183699 .gp-w-full{width:100%}.gps-490504249596183699 .gp-max-w-full{max-width:100%}.gps-490504249596183699 .gp-flex-col{flex-direction:column}.gps-490504249596183699 .gp-gap-y-0{row-gap:0}.gps-490504249596183699 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-490504249596183699 .gp-duration-200{transition-duration:.2s}.gps-490504249596183699 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-490504249596183699 .tablet\:\!gp-hidden{display:none!important}.gps-490504249596183699 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-490504249596183699 .mobile\:\!gp-hidden{display:none!important}.gps-490504249596183699 .mobile\:gp-hidden{display:none}}.gps-490504249596183699 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gx1sWEr_rz" data-id="gx1sWEr_rz"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gx1sWEr_rz gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOA_dsfW8N gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gBHK-nVbcp" data-id="gBHK-nVbcp"
        style="--b:solid;--bc:#121212;--bw:0px;--bottom:-135px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:none;--left:0px;--op:100%;--pos:absolute;--right:0px;--radius:var(--g-radius-none);--mb:0px;--top:Auto;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBHK-nVbcp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDmoD0VffL gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gHAEmIlqCF"
    role="presentation"
    class="gp-group/image gHAEmIlqCF"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:left"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "490296009264465063-05a5c0c4-1093-4dcc-8306-a6a91efeb5ca.png" | asset_url }}" data-srcset="{{ '490296009264465063-05a5c0c4-1093-4dcc-8306-a6a91efeb5ca.png' | asset_img_url: '768x' }} 768w, {{ '490296009264465063-05a5c0c4-1093-4dcc-8306-a6a91efeb5ca.png' | asset_img_url: '1024x' }} 1024w, {{ '490296009264465063-05a5c0c4-1093-4dcc-8306-a6a91efeb5ca.png' | asset_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwIiBoZWlnaHQ9IjMxMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjUwLTMxMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjUwIiBoZWlnaHQ9IjMxMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjUwIiBoZWlnaHQ9IjMxMSIgZmlsbD0idXJsKCNnLTI1MC0zMTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yNTAiIHRvPSIyNTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="250" height="311" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:250/311;--aspect-tablet:250/311;--aspect-mobile:250/311;--objf:cover;--w:35%;--w-tablet:35%;--w-mobile:35%;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUDwjEm3G9 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gV1wFo_WQj"
    role="presentation"
    class="gp-group/image gV1wFo_WQj"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:right"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:right"
      >
        
  <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "490296009264465063-30001496-0145-4fa0-83c1-566828f009a1.png" | asset_url }}" data-srcset="{{ '490296009264465063-30001496-0145-4fa0-83c1-566828f009a1.png' | asset_img_url: '768x' }} 768w, {{ '490296009264465063-30001496-0145-4fa0-83c1-566828f009a1.png' | asset_img_url: '1024x' }} 1024w, {{ '490296009264465063-30001496-0145-4fa0-83c1-566828f009a1.png' | asset_img_url: 'master' }} 1440w" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwIiBoZWlnaHQ9IjM5NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjUwLTM5NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjUwIiBoZWlnaHQ9IjM5NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjUwIiBoZWlnaHQ9IjM5NCIgZmlsbD0idXJsKCNnLTI1MC0zOTQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yNTAiIHRvPSIyNTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" width="250" height="394" alt="Alt image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:250/394;--aspect-tablet:250/394;--aspect-mobile:250/394;--objf:cover;--w:30%;--w-tablet:30%;--w-mobile:30%;--h:auto;--h-tablet:auto;--h-mobile:auto;--radius:var(--g-radius-none)"
    />
  
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 0",
    "tag": "section",
    "class": "gps-490504249596183699 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/spirited-hive/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=490296107276960935&sectionId=490504249596183699)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
